{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <h1>{{ 'profile.show.username'|trans }}: {{ user.username }}</h1>
    <p>Fighter profile to be included here</p>
    <h2><a href = "{{  path('showAllFighters') }}">List of all fighters</a></h2>
</div>

